html {
  scroll-behavior: smooth;
}

.loader {
  border: 8px solid #f3f3f3; /* світлий фон */
  border-top: 8px solid #3498db; /* колір крутіння */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: fixed; /* можна center екрану */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none; /* ховаємо за замовчуванням */
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
